#root {
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

button {
  font-family: 'Syne Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
