@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.login-page-container {
    background-color: #E6F2E8;
    background-image: url(https://cdn.discordapp.com/attachments/352217625193086986/1035953278120374333/background.png);
    background-size: 400px 400px;
    background-repeat: repeat;
    text-align: center;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.page-logo {
    height: 200px;
    width: auto;
}

.login-container{
    background-color: lightgreen;
    padding: 32px;
    margin: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



